<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🍰 Foodie Folio</title>
  </head>
  <body>
    <!-- Skip to Contante -->
    <a href="#maincontent" class="skip-link">Skip to Content</a>
    
    
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">FoodieFolio</h1>
      </div>
      <button id="menu" class="header__menu">☰</button>
    </header>


    <!-- Navigasi -->
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="http://localhost:8080/">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item"><a href="https://www.linkedin.com/in/made-acarya-mordekhai-karang-75a052207/" target="_blank">About Us</a></li>
      </ul>
    </nav>


    <!-- Jumbotron -->
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Where Flavors Come to Life</h1>
        <p class="hero__tagline">
          "Flavors that Make Memories"
        </p>
      </div>
    </div>


    <main>
      <section class="content">
        <div class="explore">
          <h1 id="maincontent" class="explore__label">Explore Restaurant</h1>
          
          <div class="posts" id="listPosts">

            
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>Copyright © 2020 - FoodieFolio by Made Acarya Mordekhai Karang</p>
    </footer>
  </body>
  </html>


 